<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Tạo Lịch Họp</h2>
        <form action="/api/meeting/create" method="POST">
            <div class="mb-3">
                <label class="form-label">Tiêu đề</label>
                <input type="text" class="form-control" name="title" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Hình thức</label>
                <input type="text" class="form-control" name="form" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Địa điểm</label>
                <input type="text" class="form-control" name="location" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Sinh viên</label>
                <select class="form-control" name="students[]" required>
                    {{#each students}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <select class="form-control" name="students[]" required>
                    {{#each students}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Giáo viên</label>
                <select class="form-control" name="tutors[]" required>
                    {{#each tutors}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
                        <div class="mb-3">
                <label class="form-label">Thời gian bắt đầu</label>
                <input type="dateTime-local" name="startTime" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Thời gian kết thúc</label>
                <input type="dateTime-local" name="endTime" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Ghi chú</label>
                <textarea class="form-control" name="note"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Tạo Lịch Họp</button>
        </form>
    </div>
</body>
</html>