<h1>Add Schedules</h1>

<div class="container">
    <form action="/schedule/add" method="post">
        <label for="">Time</label>
        <input type="text" id="" name="time" required>

        <label for="">Subject</label>
        <input type="text" id="" name="subject" required>

        <label for="student">Student:</label>
        <select name="student" required>
        {{#each students}}
            <option value="{{_id}}">{{ name }}</option>
        {{/each}}
        </select>

        <select name="student" required>
        {{#each students}}
            <option value="{{_id}}">{{ name }}</option>
        {{/each}}
        </select>

        <label for="tutor">Tutor:</label>
        <select name="tutor">
        {{#each tutors}}
            <option value="{{_id}}">{{ name }}</option>
        {{/each}}
        </select>

        <br>
        <br>

        <input type="submit" value="Add">
    </form>
</div>

<style>
    body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

form {
    width: 300px;
}

label {
    font-size: 18px;
    font-weight: normal;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 4px;
}

select {
    width: 100%; /* Hoặc một giá trị cụ thể như 300px */
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #000;
    background-color: #f8f8f8;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

</style>
