<h2>Lịch Học Tuần {{week}}</h2>
<p>Thời gian: {{weekRange}} </p>

<table border="1">
    <thead>
        <tr>
            <th>Thứ</th>
            <th>Ca Học</th>
            <th>Lớp</th>
        </tr>
    </thead>
    <tbody>
        {{#each schedules}}
        <tr>
            <td>{{this.day}}</td>
            <td>{{this.time}}</td>
<<<<<<< HEAD
            <td>{{#if this.class}} {{this.class.classname}} {{else}} Không có lớp {{/if}}</td>
            
            <td>
                <a class="button-3" href="/attendance/take-attendance/{{_id }}">Attendance</a>
                <a class="button-3" href="/schedule/edit/{{_id }}">Edit</a>
                <a class="button-3" href="/schedule/delete/{{ _id }}"
                    onclick="return confirm('Are you sure to delete this product ?');">Delete</a>
             </td>
=======
            <td>{{this.class.classname}}</td>
>>>>>>> 9e5be9f09055bf76bc938df4b1b28c33b5d7f736
        </tr>
        {{/each}}
    </tbody>
</table>

<<<<<<< HEAD
<a href="/schedule/schedule-view/{{prevWeek}}">Tuần trước</a> |
<a href="/schedule/schedule-view/{{nextWeek}}">Tuần sau</a>
=======
<a href="/staff/schedule/schedule-view/{{prevWeek}}">Tuần trước</a> |
<a href="/staff/schedule/schedule-view/{{nextWeek}}">Tuần sau</a>
>>>>>>> 9e5be9f09055bf76bc938df4b1b28c33b5d7f736
