<h2>Lịch Học Tuần {{week}}</h2>
<p>Thời gian: {{weekRange}} </p>

<table border="1">
    <thead>
        <tr>
            <th>Thứ</th>
            <th>Ca Học</th>
            <th>Lớp</th>
        </tr>
    </thead>
    <tbody>
        {{#each schedules}}
        <tr>
            <td>{{this.day}}</td>
            <td>{{this.time}}</td>
            <td>{{this.class.classname}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<a href="/staff/schedule/schedule-view/{{prevWeek}}">Tuần trước</a> |
<a href="/staff/schedule/schedule-view/{{nextWeek}}">Tuần sau</a>
