<h1>Danh sách Sinh viên - Điểm danh</h1>

<h2>Các Sinh viên Có Mặt</h2>
{{#if presentStudents.length}}
  <table border="1">
    <thead>
      <tr>
        <th>STT</th>
        <th>Sinh viên</th>
        <th>Ngày</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      {{#each presentStudents}}
        <tr>
          <td>{{@index}}</td>
          <td>{{this.student_id.name}}</td>
          <td>{{this.date}}</td>
          <td>{{this.status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>Không có sinh viên nào có mặt.</p>
{{/if}}

<h2>Các Sinh viên Vắng Mặt</h2>
{{#if absentStudents.length}}
  <table border="1">
    <thead>
      <tr>
        <th>STT</th>
        <th>Sinh viên</th>
        <th>Ngày</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      {{#each absentStudents}}
        <tr>
          <td>{{@index}}</td>
          <td>{{this.student_id.name}}</td>
          <td>{{this.date}}</td>
          <td>{{this.status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>Không có sinh viên nào vắng mặt.</p>
{{/if}}
