{{!-- Sử dụng layout chính --}}
{{! views/appointment/index.hbs }}
<h1 class="mb-4">Danh sách cuộc hẹn</h1>

<a href="/appointment/add" class="btn btn-primary mb-3">Thêm cuộc hẹn</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Học sinh</th>
            <th>Giáo viên</th>
            <th>Ngày họp</th>
            <th>Loại họp</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        {{#each appointments}}
        <tr>
            <td>{{this.student.name}}</td>
            <td>{{this.teacher.name}}</td>
            <td>{{this.meetingDate}}</td>
            <td>{{this.meetingType}}</td>
            <td>{{this.note}}</td>
        </tr>
        {{else}}
        <tr>
            <td colspan="5" class="text-center">Không có cuộc hẹn nào.</td>
        </tr>
        {{/each}}
    </tbody>
</table>
